* {
    margin: 0;
    
}
/* header saction start */
.header {
    background-image: url(../images/donation14.webp);
    height: 800px;
    width: 100%;
    background-repeat: round;
    /* padding-top: 100px; */
    /* text-align: center; */
    /* align-items: center; */

}
.header-content {
    /* align-items: center; */
    text-align: center;
    padding-top: 230px;
}
.header-text {
    /* text-align: center; */
    /* padding-top: 30px; */
    color: white;
    font-size: 60px;
    font-weight: 800;
}
.header-p-text {
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin-top: 20px;
}
.btn {
    margin-top: 20px;
    height: 75px;
    width: 170px;
    background-color: rgba(236, 16, 16, 0.836);
    font-size: 20px;
    font-weight: 600;
    color: white;
    border: none;
}
/* header saction end */

/* donate section start */
.donate {
    font-size: 50px;
    text-align: center;
}
.donate-text {
    text-align: center;
}
/* donate section end */